:root{
  --color-black: #000;
  --color-white: #fff;
  --color-gray-dark: #1C1C1C;
  --color-gray: #262626;
  --color-gray-light: #454545;
  --color-yellow: #F0B90B;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection{
  background-color: var(--color-yellow);
  color: #000;
}

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;               /* Ancho de la barra de scroll */
}

::-webkit-scrollbar-track {
  background: var(--color-black);       /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-light);          /* Color del "thumb" (la barra desplazable) */
  border-radius: 10px;       /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-yellow);          /* Color del "thumb" al hacer hover */
}

/* Para Firefox */
* {
  scrollbar-width: thin;     /* Tamaño fino para la barra de scroll */
  scrollbar-color: #888 var(--color-black); /* Color del "thumb" y del track */
}
