:root{
  --color-black: #000;
  --color-white: #fff;
  --color-gray-dark: #1C1C1C;
  --color-gray: #262626;
  --color-yellow: #F0B90B;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection{
  background-color: var(--color-yellow);
  color: #000;
}
