.mainLayout {
  width: 100%;
  display: grid;
  grid-template-columns: 260px auto;
}

.mainContent{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background-color: var(--color-gray-light);
}

.mainContent{
  width: 100%;
  overflow: hidden;
}