.header {
  background-color: var(--color-black);
  padding: 13px 60px;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header nav a {
  color: var(--color-white);
  text-decoration: none;
}

.content {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
  gap: 42px;
}

.user {
  cursor: pointer;
}

.logo {
  width: 164px;
}

.logUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.logUser p {
  color: var(--color-white);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 100px;
  }
  .header nav {
    gap: 30px;
  }
  .content {
    gap: 30px;
  }
}
